<div style="margin-top: 100px;"></div>

<h1>Interface</h1>

<hr/>

<div class="row featurette" style="margin-top: 40px;">
  <div class="col-md-4">
    <img src="img/interface-1.png" alt="image" class="img-rounded" />
  </div>
  <div class="col-md-7">
    <h2>A tela de login</h2>
    <p>
      A interface padrão do {{encontro}} é o Unity, representado pelo ícone do Ubuntu, mas você pode alterar para GNOME 3. Basta clicar no ícone
      <img src="img/ubuntu-unity.png" alt="" />e você verá a tela abaixo.
    </p>
    <p>
      É possível logar-se como Convidado. Esse usuário especial não tem senha, ele serve apenas para usuários que desejam realizar tarefas simples como:
    </p>
    <ul>
      <li>Navegar na internet</li>
      <li>Editar um texto</li>
      <li>Ver um vídeo</li>
    </ul>
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-4">
    <img src="img/interface-2.png" alt="image" class="img-rounded" />
  </div>
  <div class="col-md-7">
    <h2>Escolha da interface</h2>
    <p>
      Uma vez que você selecione uma interface, ela será padrão. Isso quer dizer que você não precisa mudar sempre, apenas uma vez.
    </p>
    <p>
      Se você deseja uma interface com efeitos escolha entre:
    </p>
    <ul>
      <li>Ubuntu</li>
      <li>GNOME</li>
    </ul>
    <p>
      Mas se você prefere uma interface rápida opte por:
    </p>
    <ul>
      <li>Ubuntu 2D</li>
      <li>GNOME Classic (No Effects)</li>
    </ul>
  </div>
</div>

<!-- TODO: mostrar screenshot do Unity e GNOME3 -->
<h2 style="margin-top: 40px;">Interfaces em Ação</h2>
<hr/>
<div class="row">
  <div class="span1">&nbsp;</div>
  <div class="span9">
    <div id="myCarousel" class="carousel slide" style="width: 85%; margin: 0 auto; display: block;">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="img/GNOME3.png" alt="gnome3" />
          <div class="carousel-caption">
            <h4>GNOME 3</h4>
            <p>
              Simples e fácil de usar. Este é o ambiente GNOME mais lindo de todos, com um novo tema visual, uma nova fonte refinado e com elementos animados.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="img/Unity.png" alt="unity" />
          <div class="carousel-caption">
            <h4>Unity</h4>
            <p>
              Um poderoso ambiente tanto para desktops quanto para netbooks que traz a consistência e a elegância do Ubuntu.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="img/faenza-icon-set.png" alt="faenza" />
          <div class="carousel-caption">
            <h4>Coleção de ícones Faenza</h4>
            <p>
              A melhor coleção de ícones do mundo livre.
            </p>
          </div>
        </div>
        <div class="item">
          <img src="img/nitrux-icon-set.jpg" alt="nitrux" />
          <div class="carousel-caption">
            <h4>Coleção de ícones Nitrux</h4>
            <p>
              Coleção de ícones com estilo moderno e simplista.
            </p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>

<h2 style="margin-top: 40px;">Mude a aparência do {{encontro}}</h2>
<hr/>
<div class="row">
  <div class="col-md-6">
    <img src="img/ubuntu-tweak.png" alt="ubuntu-tweak" style="width: 550px" />
  </div>
  <div class="col-md-5">
    Usando o Ubuntu Tweak você poderá personalizar seu {{encontro}} ainda mais.
    <p>
      Clique em Tema e escolha um tema de sua preferência. Além do tema você pode:
    </p>
    <ul>
      <li>Mudar o tema dos ícones.</li>
      <li>Mudar o tema do cursor.</li>
      <li>Instalar um novo tema. Outros temas podem ser encontrados em:
        <a href="http://gnome-look.org/index.php?xsortmode=down&page=0&xcontentmode=167" target="blank">Gnome-Look.org</a>
      </li>
    </ul>
    <p>
      Modifique também opções de inicialização em <strong>Configuração de Login</strong>.
    </p>
    <div class="alert alert-warning" role="alert">
      <strong>Aviso!</strong> Você tem que ser administrador para modificar algumas coisas. Verifique no canto superior direito caso apareça o botão <strong>Desbloquear</strong>.
    </div>
  </div>
</div>

<h2 style="margin-top: 40px;">GNOME 3</h2>
<hr/>
<div class="row">
  <div class="col-md-6">
    <img src="img/gnome-tweak-tool.png" alt="gnome-tweak-tool" />
  </div>
  <div class="col-md-5">
    Se você optou pelo GNOME 3 é possível personalizar usando o
    <strong>Gnome Tweak Tool</strong>.
    <p>
      O GNOME 3 vem de uma forma bem simplificada, mas existe um site chamado <a href="https://extensions.gnome.org/" target="blank">extensions.gnome.org</a>
      onde você pode encontrar várias extensões.
    </p>
  </div>
</div>
